.about_section {
    padding: 20px;
}

.about_main {
    margin-top: 10px;
    padding-bottom: 20px;
}

.about_main p {
    margin-top: 12px;
}

.about_list li {
    display: flex;
    padding: 3px;
}

.about_list p {
    margin-left: 8px;
}