:root {
    --brand-color: #EF5F4C;
    --btn-hover: #202020;

    --background-color: #FFFFFF;
    --surface-color: #f8f8f8;
    --skeleton-color: #D9D9D9;

    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
    --text-color-terciary: #aaa;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

}

h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
}

p {
    font-size: 14px;
    line-height: 170%;
}

.primary_text_color {
    color: var(--text-color-primary);
  }

  .secondary_text_color {
    color: var(--text-color-secondary);
}
  