.ph-desktop-tower {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.nav_logo {
    display: flex;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav_list {
    list-style-type: none;
    display: flex;
}

.nav_list li {
    margin-right: 32px;
    letter-spacing: 3px;
}

.list_curriculum:hover {
    color: #F72222;
}

.list_linkedin:hover {
    color: #0300CC;
}

.list_github:hover {
    color: #7b60db;
}

.nav_list a {
    display: none;
}

.nav_list i {
    font-size: 22px;
}

@media (min-width: 80em) {
    
    .ph-device-mobile {
        display: none;
    }

    .ph-desktop-tower {
        display: flex;
    }

    .nav_list a {
        display: flex;
    }

    .nav_list i {
        display: none;
    }

    .nav_logo {
        margin-left: 32px;
    }

    .about_section {
        display: flex;
        justify-content: space-around;
    }

    .about_main {
        max-width: 85ch;
    }

    .about_list {
        margin-top: 50px;
    }
}
