.main_content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
  
.content_list_item {
  display: flex;
  height: 35vh;
  background-color: var(--surface-color);
}
  
.content_list_item:nth-child(n+2) {
  margin: 20px 0;
}
  
.content_item_image_container {
  width: 35%;
  position: relative;
  border-radius: 8px;
}
  
.content_item_image_container .post_tag {
  position: absolute;
  top: 10px;
  left: 10px;
}
  
.content_item_image_link img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 1;
}

.content_item_image_link:hover {
  opacity: .8
}

.content_item_info {
  flex: 1;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}
   
.summary {
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-width: 65ch;
  margin-top: 10px;
}
  
.btn {
  padding: 10px 20px;
  border: none;
}
  
.btn:hover {
  cursor: pointer;
}
  
.read_more {
  margin-top: 40px;
  background-color: var(--brand-color);
  color: var(--background-color);
  border-radius: 8px;
}
  
.read_more:hover {
  background-color: var(--btn-hover);
}

.post_author {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
}

.post_author a::after {
  content: " - ";
}

.post_date {
  color: var(--text-color-terciary);
  font-size: 14px;
}

.post_tag {
  height: 24px;
  z-index: 5;
  background-color: var(--brand-color);
  color: var(--background-color);
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 5px;
  width: fit-content;
}

.summary_span {
  display: none;
}

.post_tag:hover {
  background-color: var(--btn-hover);
}
  
@media (min-width: 80em) {

  .summary {
    margin-top: 8px;
  }
  .summary_span {
    display: flex;
  }
}

 
